

params { 
	projectName = "workshop-demo"
	outDir = "/projects/researchit/bradlma/wfm/nextflow/data/"
	sample = "SRR2589044"
	qualityScore = 20
	adapterSeq = "/projects/researchit/bradlma/wfm/SRR_adapters.fa"
}

process { 
	executor = 'slurm'
	queue = 'compute'
	memory = 2.GB
	cpus = 1 
	clusterOptions = '-q batch'
	beforeScript = 'module load singularity'
	module = "slurm"
}


